.formControl.error input,
.formControl.error textarea{
    border: 2px solid red;
}
.formControl.error span{
    color:red;
}
.formSummaryError{
    border: 1px solid red;
    padding: 5px;
    color: red;

}

.loginButton{
    /*text-align:center;*/
    margin-bottom: 70vh;
    margin-top: 10px;
    font-size:13px;
    text-decoration: none;
    font-weight: 700;
    padding: 3px 6px;
    background: #eaeef1;

    width:70px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.loginButton:hover, .loginButton.hover {
    background: #fff;
}
.loginButton:active, .loginButton.active {
    background: #d0d3d6;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}
.mainLoginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textAreaStyle{
    /* = Убираем скролл */
    overflow: auto;

    /* = Убираем увеличение */
    resize: none;
    width: 300px;
    height: 50px;

    /* = Добавим фон, рамку, отступ*/
    background: #f6f6f6;
    border: 1px solid #cecece;
    border-radius: 8px 0 0 0;
    padding: 8px 0 8px 10px;
}
.inputStyle{
    background: #f6f6f6;
    border: 1px solid #cecece;
    border-radius: 8px 0 0 0;
    padding: 8px 0 8px 10px;
}