.nav {
    grid-area: n;
    background-color: gray;
    border: 2px solid black;
    padding: 20px;
    margin: 0 5px 0 5px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: black;
}
.settings{
    padding-top: 20px;
}