.content {
    grid-area: c;
    background-color: aqua;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active{
    color: brown;
}

.messages {
    padding: 10px;

}

.messages .message {

}